<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target xsi:type="File"
              name="String"
              layout="Layout"
              header="Layout"
              footer="Layout"
              encoding="Encoding"
              lineEnding="Enum"
              archiveAboveSize="Long"
              maxArchiveFiles="Integer"
              archiveFileName="Layout"
              archiveNumbering="Enum"
              archiveDateFormat="String"
              archiveEvery="Enum"
              archiveOldFileOnStartup="Boolean"
              replaceFileContentsOnEachWrite="Boolean"
              fileAttributes="Enum"
              fileName="Layout"
              deleteOldFileOnStartup="Boolean"
              enableFileDelete="Boolean"
              createDirs="Boolean"
              concurrentWrites="Boolean"
              openFileFlushTimeout="Integer"
              openFileCacheTimeout="Integer"
              openFileCacheSize="Integer"
              networkWrites="Boolean"
              concurrentWriteAttemptDelay="Integer"
              concurrentWriteAttempts="Integer"
              bufferSize="Integer"
              autoFlush="Boolean"
              keepFileOpen="Boolean"
              forceManaged="Boolean"
              enableArchiveFileCompression="Boolean"
              cleanupFileName="Boolean"
              writeFooterOnArchivingOnly="Boolean"
              writeBom="Boolean" />
    </targets>
    <targets>
      <target xsi:type="Console" name="console"
        layout="${longdate}|${level}|${message}" />
      <target xsi:type="File" name="ErrorLog" fileName="${basedir}/error.txt"
              layout="${longdate}
          Trace: ${stacktrace} 
          ${message}" />
      <target xsi:type="File" name="AccessLog" fileName="${basedir}/access.txt"
              layout="${shortdate} | ${message}" />
    </targets>
  </nlog>
</configuration>